[Unit]
Description=Launch comparison tests for vms_6.0.1

[Timer]
Unit=comparison_tests@vms_6.0.1.service
OnCalendar=Thu *-*-* 02:00:00 UTC
Persistent=false

[Install]
WantedBy=timers.target
