[Unit]
Description=Poll FT View for new jobs and publish them to message broker
After=syslog.target
After=network.target
StartLimitBurst=10
StartLimitIntervalSec=1

[Service]
WorkingDirectory=%h/ft_view_job_requester/ft
Environment=FT_UNIT_NAME=%N
ExecStart=%h/ft_view_job_requester/ft/infrastructure/.venv/bin/python3 -m infrastructure.ft_view_job_requester
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
