[Unit]
Description=Launch all FT tests for master

[Timer]
Unit=ft_nightly@master.service
OnCalendar=00:30:00 Europe/Moscow
Persistent=false

[Install]
WantedBy=timers.target
