[Unit]
Description=Launch all FT tests for vms_6.0.1

[Timer]
Unit=ft_nightly@vms_6.0.1.service
OnCalendar=01:00:00 Europe/Moscow
Persistent=false

[Install]
WantedBy=timers.target