[Unit]
Description=RPI4-3 worker

[Install]
WantedBy=default.target

[Service]
WorkingDirectory=%h/machines/rpi4_3
ExecStart=%h/machines/rpi4_3/arms/.venv/bin/python3 -m arms.beg_ft002.rpi4_3
Restart=on-failure
RestartSec=10
