[Unit]
Description=Launch TestRail crawler

[Timer]
Unit=testrail_crawler.service
OnCalendar=hourly
Persistent=false

[Install]
WantedBy=timers.target
