[Unit]
Description=Web service for reporting Batch results according to TestRail plan or TestRail run
After=syslog.target
After=network.target
StartLimitBurst=10
StartLimitIntervalSec=1

[Service]
WorkingDirectory=%h/testrail_service/ft
ExecStart=/usr/bin/python3 -m infrastructure.testrail_service
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
