IdentityFile ~/.ssh/sc_ft.rsa
Host gitlab.nxvms.dev
    # GitLab fails to accept many connections simultaneously
    ControlMaster auto
    ControlPath ~/.ssh/sock_%C
    ControlPersist 5m
    ServerAliveInterval 5
    GSSAPIAuthentication no
    PubkeyAuthentication yes
    PasswordAuthentication no
    HostbasedAuthentication no
    KbdInteractiveAuthentication no
Host sc-ft*
    ControlMaster auto
    ControlPath ~/.ssh/sock_%C
    ControlPersist 5m
    ServerAliveInterval 5
    GSSAPIAuthentication no
    PubkeyAuthentication yes
    PasswordAuthentication no
    HostbasedAuthentication no
    KbdInteractiveAuthentication no
