[Unit]
Description=Worker %i for VirtualBox snapshot tasks

[Service]
WorkingDirectory=%h/worker_snapshot_vbox@/ft
Environment=FT_UNIT_NAME=%N
Environment=PREFERRED_USER_NAME=%i
ExecStart=%h/worker_snapshot_vbox@/ft/infrastructure/.venv/bin/python3 -m infrastructure.worker ft:tasks_snapshot_vbox ft:gitlab_job_updates
