<tr>
    <th>Started at <a href="{{ request_params().removed('order').href() }}">&#x25bd;</a></th>
    <th colspan="2">Location</th>
    <th>PID</th>
    <th>Tests Git</th>
    <th>Args <a href="{{ request_params().added('order', 'name').href() }}">&#x25b3;</a></th>
    <th colspan="4">VMS</th>
    <th>Cloud / WebAdmin</th>
    <th colspan="2">Result</th>
    <th>T <a href="{{ request_params().added('order', 'duration').href() }}">&#x25bd;</a></th>
    <th>Ticket</th>
    <th colspan="2">Message</th>
    <script>highlightCurrentLink(document.currentScript.parentElement)</script>
</tr>
